<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <title>TAKEAWAY</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script type="text/javascript" src=""></script>
    <link rel="stylesheet" type="text/css" href="https://s2.olx.in/static/olxin/packed/sw855e31d1e1b381c686e47e953699523f.css">
    <link rel="stylesheet" type="text/css" href="https://s1.olx.in/static/olxin/packed/sw6637089ba18177292250e396ff324034.css">
    <link rel="stylesheet" type="text/css" href="https://s1.olx.in/static/olxin/packed/swd59215f533aa2c2d172b1a7bac1025ec.css">
    <script type="text/javascript">
window.suggestmeyes_loaded = true;
var action='index';
var method='index';
var user_logged=0;
var www_base='https://www.olx.in';
var www_base_no_namespace='https://www.olx.in';
var www_base_ajax='https://www.olx.in/ajax';
var static_files_www_base='https://s1.olx.in/static/olxin/';
var external_static_files_www_base='https://s1.olx.in/static/olxin/naspersclassifieds-regional/olxsa-atlas-web-olxin/static/';
var external_static_files_www_base_main='https://s1.olx.in/static/olxin/naspersclassifieds-regional/olxsa-atlas-web/static/';
var session_domain='olx.in';
var site_domain='www.olx.in';
var decimal_separator='.';
var thousands_separator=',';
var sitecode='olxin';
var defaultCurrency='INR';
var config_currency='₹';
var useExternalScripts=1;
var lang='en';
var hasRwd=0;
var module_store_image_sizes_db=1;
var module_extra_description=1;
var module_deprecate_android_24=1;
var module_ninja=1;
var module_clm=1;
var module_nanigans_pixel=1;
var module_gtm_pixels=1;
var module_catch_point=1;
var module_mobile_app=1;
var module_cities_old=1;
var module_short_categories=1;
var module_zendesk=1;
var module_unconfirmed_confirmed=1;
var module_facebook_login=1;
var module_country_locator=1;
var module_fraud_contact_data=1;
var module_forceimages=1;
var module_adx_banners=1;
var module_moderated_not_edited=1;
var module_districts_large=1;
var module_cities_old_adding=1;
var module_search_rank_limited=1;
var module_allow_duplicate=1;
var module_check_abusive_words=1;
var module_adx_home_top_banner=1;
var module_dfp_banners=1;
var module_online_chat_status=1;
var module_anonymous_chat_app=1;
var module_chat_i2=1;
var module_chat_desktop=1;
var module_island_trending=1;
var module_island_interesting=1;
var module_feedsqueue_accept_automatically=1;
var module_multi_locality=1;
var module_retain_created_at=1;
var module_radial_search=1;
var module_content_widgets=1;
var module_rest_api=1;
var module_phone_posting=1;
var module_password_hashing=1;
var module_realtime_gcm_push=1;
var module_sync_facebook=1;
var module_share_ad_with_contacts=1;
var module_upsight=1;
var module_phone_visibility_setting=1;
var module_user_pic_visibility_setting=1;
var module_CSRF=1;
var module_chat_ads=1;
var module_force_upgrade=1;
var module_i2_payment=1;
var module_paidads=1;
var module_bonus_credits=1;
var module_payu_topup_module=1;
var module_adpage_promote=1;
var module_unfinished_payments=1;
var module_invoiceform=1;
var module_invoice_exporter=1;
var module_einvoice_ap_poland=1;
var module_ap_invoice_data=1;
var module_einvoice_autogeneration=1;
var module_testimonials=1;
var module_i2_interstitial=1;
var module_profile=1;
var module_i2_experiment_listing_badge=1;
var module_xss_filter=1;
var module_packages=1;
var module_parameterized_title=1;
var module_invite_friends=1;
var module_recaptcha=1;
var module_community=1;
var module_community_prelaunch=1;
var module_pushup=1;
var module_pushup_automatic=1;
var module_crm_user=1;
var module_paid_limits=1;
var module_flush_only_msite_ads=1;
var module_otp_login=1;
var module_phone_email_auth=1;
var module_public_profile=1;
var module_ad_banner_widget=1;
var module_ad_rule_widgets=1;
var module_abtest=1;
var module_googleplus=1;
var module_package_count_adjustment=1;
var module_telesales_packages=1;
var module_download_app_banner=1;
var module_hide_phone=1;
var module_sms_downloadpage=1;
var module_mandatory_registration=1;
var module_credit_list_upload=1;
var module_new_controllers=1;
var module_site_blaze=1;
var module_sms_log_in_kafka=1;
var module_freelimit_phone_check=1;
var module_kafka_apple_push=1;
var module_apolloIntegration=1;
var module_solr_cloud=1;
var module_solr_cloud_autocommit=1;
var module_hermes=1;
var module_hermes_comments_synchronization=1;
var module_ssl_only=1;
var module_S3_images=1;
var fb_connect_url='https://connect.facebook.net/en_IN/all.js#xfbml=1&amp;appId=320949351409311';
var fb_app_id='320949351409311';
var fraudsubject={"id":"25","subject_en":"Support Team :: Report Fraud","subject_hi":"\u0927\u094b\u0916\u093e\u0927\u0921\u093c\u0940 \u0930\u093f\u092a\u094b\u0930\u094d\u091f  \u0915\u0930\u0947\u0902","zendesk_tag":"in_report_fraud"};
var otherssubject={"id":"13","subject_en":"Support Team :: Others","subject_hi":"\u0938\u0939\u093e\u092f\u0924\u093e \u091f\u0940\u092e","zendesk_tag":"in_support_team"};
function __(txt) {
	if (typeof translations == 'object') {
		if (translations[txt] == undefined) {
			return txt;
		} else {
			return translations[txt];
		}
	}
	return txt;
}
</script>

    {% block head %}{% endblock %}
</head>
	<body class="homepage">
    <div id="innerLayout">
<header id="header-container">
	<div class="navi">
		<div class="wrapper clr rel bigwrapper">

				<a id="postNewAdLink" class="postnewlink fbold tdnone" href="/user/posting">
					<span>Submit a Free Ad</span>
				</a>
					<span class="slogan">India's Largest Marketplace</span>

<ul class="userbox fright marginleft10">
	<li class="inlblk nowrap vtop noslash" id="my-account-link">
		<div class="inlblk rel">
			<a href="/user/myaccount"
				class="tdnone" id="topLoginLink">
				<span class="icon inlblk accountshape vtop fleft"></span>
                {% if session['name'] %}

                <a href="{{ url_for('clearsession') }}">Logout</a>
                {% else %}<span class="link inlblk acc-user-name fleft"><strong>My Account</strong></span>
                {% endif %}



	        </a>
        </div>
	</li>
</ul>
		</div>
	</div>
<!---------------------------- NAVIGATION BAR BEGINS ---------------------------->


<!----------------------------- NAVIGATION BAR ENDS ----------------------------->


                   {% block content %}{% endblock %}



<footer id="footer-container">
	<div class="wrapper small bigwrapper" id="lastwrapper">
		<div class="margintop15 clr rel">
			<div class="boxindent">
				<div class="clr">
					<div class="static box fleft">
						<ul class="small lheight16">
        					<li class="block">
            					<a href="#" class="link gray" title="Locations Map">
                					<span>Locations Map</span>
            					</a>
        					</li>
							<li class="block">
            					<a href="#" class="link gray" title="Popular searches">
									<span>Popular searches</span>
            					</a>
							</li>
							<li class="block">
								<a href="#" class="link gray" title="Archive">
									<span>Archive</span>
								</a>
							</li>
							<li class="block">
								<a href="#" class="link gray" title="Sitemap">
                					<span>Sitemap</span>
            					</a>
        					</li>
							<li class="block">
								<a class="link gray" title="Featured Ads" href="#">
									<span>Featured Ads</span>
								</a>
							</li>

						</ul>
					</div>
<div class="static box fleft">
	<ul class="small lheight16">
        <li class="block">
            <a href="#" class="link gray" title="Terms of Use">
                <span>Terms of Use</span>
            </a>
        </li>
        <li class="block">
            <a href="#" class="link gray" title="Help &AMP; Contact Us">
                <span>Help &AMP; Contact Us</span>
            </a>
        </li>

	</ul>
</div>
<div class="static box fleft">

	<li class="block">
		<a href="#" class="#" id="footerPartners">
			<span class="inlblk">Who we are</span>
			<span class="icon mini inlblk vtop margintop6 marginleft5 down4">&nbsp;</span>
		</a>
	</li>
	<li class="block">
		<a href="#" target="_blank" class="tdnone link gray">
			<span class="inlblk">Join Takeaway</span>
		</a>
	</li>
	<li class="block">
		<a href="#" class="tdnone link gray">
        	<span class="inlblk">Happy Takeaway</span>
        </a>
	</li>
</div>

<div class="socialsbox fright">
	<div class="tcenter">Connect with us</div>
		<ul class="socialsbox fright" id="footertopShare">
    		<li class="fleft">
    			<a target="_blank" href="#" class="facebook-page-link"> </a>
    		</li>
    		<li class="fleft">
    		    <a target="_blank" href="#" class="gplus-page-link"> </a>
    		</li>
    		<li class="fleft">
    	 	    <a target="_blank" href="#" class="twitter-page-link"> </a>
    		</li>
			<li class="fleft">
				<a target="_blank" href="#" class="instagram-link"> </a>
			</li>
    	</ul>
	</div>
</div>
<div class="partners box margin10_0 hidden" id="footerPartnersContainer">
	Takeaway is a free local classifieds site. Sell anything from used cars to mobiles,
	furniture, laptops, clothing and more. Submit ads for free and without creating an account.
	If you want to buy something - here you will find interesting items, cheaper than in the store.
	Start buying and selling in the most easy way on Takeaway.</div>
</div>
</div>
</div>
</footer>
</body>
</html>
