{% extends "user/user_base.html" %}
{% block title %}User Home Page{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}


<div class="jumbotron text-center">
<div id="signup" class="span3 well well-large offset4">
 <p class="important">
     {% if session['name'] %}&nbsp;


<section id="body-container" class="rel container">
	<div class="wrapper">
		<div class="content clr rel">

			<form id="frm" class="tablica55 default adding flat-style-form publish {categoriesAjaxUrl: 'https://www.olx.in/ajax/posting/categories/'}"
				method="post" action="/user/update_account">

				<div class="clr">
					<h1 class="c000 x-large pding10 rel fleft">	My Account Setting	</h1>
				</div>

<fieldset class="hlight-box hlight brtope5">
	<div class="hlight-target">
		<div class="fblock clr cloud ">
			<div class="fleft label tright">
				<label class="validation fbold c000">Name<span class="cc914">*</span></label>
			</div>

			<div class="area clr">
				<div class="fleft rel focusbox">
					<input type="text" value="" name="name" required="" class="text light br4 text-mail required x-normal email x-long">
				</div>
			</div>
		</div>

		<div class="fblock clr cloud ">
			<div class="fleft label tright">
				<label class="validation fbold c000">Email<span class="cc914">*</span></label>
			</div>
			<div class="area clr">
				<div class="fleft rel focusbox">
					<input type="text" value="{{session['email']}}" name="email" class="text light br4 text-mail required x-normal email x-long" disabled>
				</div>
			</div>
		</div>


		<div class="fblock clr cloud ">
			<div class="fleft label tright">
				<label class="validation fbold c000" >new password<span class="cc914">*</span></label>
			</div>
			<div class="area clr">
				<div class="clr">
					<div class="fleft focusbox">
						<input  name="password"  type="text" value="" required="" class="text light br4 text-mail required x-normal email x-long">
					</div>
				</div>
			</div>
		</div>


	</div>
</fieldset>
<fieldset class="brtope5 margintop5">
	<div class="fblock clr rel">
		<div class="submittarget abs icon"></div>
		<ul class="navi clr">
			<li class="fright submitspace">
				<span class="button big4 br3 large"><input type="submit" class="cfff" value="Submit" /></span>
			</li>
		</ul>
	</div>
</fieldset>
</form>
		</div>
	</div>
</section>

    {% else %}
<p style="color: red"> You still didn't set your Email, do it
  {% include 'user/session.html' %}
  {% endif %}
</p><br><br><br><br>
</div></div>

{% endblock %}

