{% extends "user/user_base.html" %}
{% block title %}Signup Page{% endblock %}
{% block head %}
  {{ super() }}


{% endblock %}
{% block content %}

<!--div class="container"><div class="row"-->
<!--<div class="col-sm-12">-->
<div class="jumbotron text-center">
<div id="signup" class="span3 well well-large offset4">
<p class="important">
	{% if session['name'] %}
<section id="body-container" class="rel container">
	<div class="wrapper">
		<div class="content clr rel">

			<form id="frm" class="tablica55 default adding flat-style-form publish {categoriesAjaxUrl: 'https://www.olx.in/ajax/posting/categories/'}"
				method="post" action="/user/ad_post">

				<div class="clr">
					<h1 class="c000 x-large pding10 rel fleft">	Submit a Free Classified Ad	</h1>
				</div>

				<fieldset class="hlight brtope5">
					<div id="title" class="fblock clr">
						<div class="fleft label tright">
							<label class="validation fbold c000">Ad Title<span class="cc914">*</span></label>
						</div>
						<div class="area clr">
							<div class="fleft rel zi2 focusbox">
								<input type="text" value="" name="title" required="" class="text x-normal light br4 xxx-long2 required {maxtext:70, mintext:6}"> <span
									class="status icon vmiddle inlblk dnone">&nbsp;</span>
							</div>
						</div>
					</div>


					<div id="price" class="fblock clr">
						<div class="fleft label tright">
							<label class="validation fbold c000">price<span class="cc914">*</span></label>
						</div>
						<div class="area clr">
							<div class="fleft rel zi2 focusbox">
								<input type="text" value="" name="price" required="" class="text x-normal light br4 xxx-long2 required {maxtext:70, mintext:6}"> <span
									class="status icon vmiddle inlblk dnone">&nbsp;</span>
							</div>
						</div>
					</div>


					<div id="categories" class="fblock clr pdingright0 catSelector3">
						<div class="fleft label tright">
							<label class="fbold c000">Category<span class="cc914">*</span></label>
						</div>
						<div class="area clr">
							<div class="fleft rel margintop15">
								<div class="table">
									<div id="category-breadcrumb-container" class="vmiddle">
										<span id="catgory-breadcrumb-text" class="color-3 fbold"></span>

										<select class="dropdown light fleft" required="" name="category">

											<option value="">---Select---</option>
											<option value="Properties">Properties</option>
											<option value="Cars">Cars</option>
											<option value="Electronics & Appliances">Electronics & Appliances</option>
											<option value="Furniture">Furniture</option>
											<option value="Jobs">Jobs</option>
											<option value="Mobiles">Mobiles</option>
											<option value="Bikes">Bikes</option>
											<option value="Books, Sports & Hobbies">Books, Sports & Hobbies</option>
											<option value="Fashion">Fashion</option>
											<option value="Pets">Pets</option>
											<option value="Services">Services</option>
										</select>

									</div>
								</div>
							</div>
						</div>
					</div>

		            <div class="fblock clr" id="description">
						<div class="fleft label tright">
							<label class="validation fbold c000"><span>Ad Description</span><span class="cc914">*</span></label>
						</div>
						<div class="area clr">
							<div class="fleft rel focusbox">
								<textarea name="description" class="x-normal light required br4 " required="" frm="ad" style="height: 120px; width: 400px; resize: none; overflow-y: hidden;"
									cols="80" rows="1" placeholder="Include the brand, model, age and any included accessories." ></textarea>
								<span class="status icon vtop inlblk dnone">&nbsp;</span>
							</div>
						</div>
					</div>
				</fieldset>

<div class="headlinecontact rel">
	<h2 class="c000 x-large pding10 rel fbold">Your contact details</h2>
</div>

<fieldset class="hlight-box hlight brtope5">
	<div class="hlight-target">
		<div class="fblock clr cloud ">
			<div class="fleft label tright">
				<label class="validation fbold c000">Name<span class="cc914">*</span></label>
			</div>

			<div class="area clr">
				<div class="fleft rel focusbox">
					<input type="text" value="{{session['name']}}" name="name" class="text light br4 text-mail required x-normal email x-long" disabled>
				</div>
			</div>
		</div>

		<div class="fblock clr cloud ">
			<div class="fleft label tright">
				<label class="validation fbold c000">Email<span class="cc914">*</span></label>
			</div>
			<div class="area clr">
				<div class="fleft rel focusbox">
					<input type="text" value="{{session['email']}}" name="email"class="text light br4 text-mail required x-normal email x-long" disabled>
				</div>
			</div>
		</div>

		<div class="fblock clr cloud ">
			<div class="fleft label tright">
				<label class="validation fbold c000" >Enter a city<span class="cc914">*</span></label>
			</div>
			<div class="area clr">
				<div class="clr">
					<div class="fleft focusbox">
						<div class="rel zi3">
							<input  name="city"  type="text" value="" required="" class="text light br4 text-mail required x-normal email x-long">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</fieldset>



<fieldset class="brtope5 margintop5">
	<div class="fblock clr rel">
		<div class="submittarget abs icon"></div>
		<ul class="navi clr">
			<li class="fright submitspace">
				<span class="button big4 br3 large"><input type="submit" class="cfff" value="Submit" /></span>
			</li>
		</ul>
	</div>
</fieldset>

</form>
		</div>
	</div>
</section>
{% else %}
<p style="color: red"> You still didn't set your Email, do it


{% include 'user/session.html' %}

{% endif %}

</p></div></div>
{% endblock %}
