{% extends "user/user_base.html" %}
{% block title %}Login Page{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}

<div class="col-sm-12">
<div class="jumbotron text-center">
	<div class="wrapper">
<p class="important">
{% if session['name'] %}

	<section id="body-container">
	<div class="wrapper rel bigwrapper">
	<form class="searchmain" id="searchmain" method="POST" action="/user/search">
	<fieldset>


	<div class="fblock fleft fcity clr rel">
	<div class="locationrequest  " id="locationBox">
	<div class="clr rel">
		<div class="rel fleft input-container">
			<input id="cityField" autocomplete="off" type="text" name="city" defaultval="All India" defaultalternative="Choose city" value="" class="with-x-clear-button fleft defaultval light ca2 cityfield ">
			<div class="cityfield" id="cityFieldGray">
				<span class="fbold vishid"></span><span class="color-9"> </span>
			</div>
			<a href="#!" class="icon cleartext3 abs clear-input-button hidden">X</a>
			<div class="distanceseparator abs"></div>
			<label class="icon locmarker2 abs" for="cityField">&nbsp;</label>
			<div class="proposals hidden" id="proposalContainer">
				<div class="lastbox">
					<p>Recently selected:</p>
					<ul id="last-locations-ul">
					</ul>
				</div>
				<div class="abs categorySelectContainer">
					<ul class="categorySelectList regionsList">
					</ul>
				</div>
			</div>
			<input class="autosuggest-geo-input" type="hidden" name="search[city_id]" value="" />
			<input class="autosuggest-geo-input-region" type="hidden" name="search[region_id]" value="" />
			<input class="autosuggest-geo-district-input" type="hidden" name="search[district_id]" value="0" />
			<div class="autosuggest-geo-div suggestmain">
				<!-- via ajax -->
			</div>
			<div id="geo-suggestions" class="chooselocation br3 hidden">
				<div class="icon target abs"></div>
				<a id="geo-suggestions-close" href="#!" class="close icon abs">X</a>
				<p>Select Location:</p>
				<div id="geo-suggestions-options" class="items"></div>
			</div>
		</div>
	</div>
		<div class="suggest bottom abs zi2 br3 error hidden" id="cityFieldError">
		<span class="target abs icon">&nbsp;</span>
		<p>Select a city or zip code</p>
	</div>
	</div></div>
<div class="fblock fquery fleft clr rel">
	<div class="rel clr lheight16">
		<div class="clearbox rel fleft input-container">
			<input autocomplete="off" type="text" name="product" defaultval="30,73,490 Ads near You"
				class="fleft ca2 light large queryfield defaultval with-x-clear-button autosuggest-input {suggesturl:'https://www.olx.in/ajax/suggest/get/'}" id="headerSearch" value="" name="q">
			<a class="icon cleartext8 abs clear-input-button hidden" href="#!">X</a>
		</div>
		<label class="icon searchflat abs" for="headerSearch">&nbsp;</label>
		<div id="autosuggest-div"></div>
	</div>
</div>
		<span class="button big4 fright br3">
			<span class="icon inlblk vtop b_searchmain2 marginleft14 margintop9">&nbsp;</span>
			<input id="submit-searchmain" type="submit" value="Search" class="cfff x-large margintop-1">
		</span>
	</fieldset>
</form>

<br>
<div class="container">
  <table class="table">
    <thead>
      <tr>
         <th>TITLE</th>
		 <th>CATEGORY</th>
		 <th>PRICE</th>
		 <th>NAME</th>
		 <th>CITY</th>
         <th>DESCRIPTION</th>
		 <th>EMAIL</th>
      </tr>
    </thead>
	   {% for r in result %}
    <tbody>
      <tr class="warning">

        <td  style="text-align: center;"><a href="/user/send_msg?id={{ r._id }}">{{ r.title }}</a></td>
		<td>{{ r.category }}</td>
		<td>{{ r.price }}</td>
		<td>{{ r.name }}</td>
		<td>{{ r.city }}</td>
		<td>{{ r.description }}</td>
		<td>{{ r.email }}</td>
      </tr>

    </tbody>
	  {% endfor %}
  </table>
</div>
<BR><BR>



    </div>

<div>
    <div class="nobg rel ab-newmain-2">
        <div id="div-gpt-ad-1465357993476-0" style="display:block; width:728px; height:90px; margin: auto; padding:10px 0;">
    <script type="text/javascript">
        googletag.cmd.push(function() {
            googletag.display('div-gpt-ad-1465357993476-0');
            googletag.olxi2 && googletag.olxi2.ads && googletag.pubads().refresh([googletag.olxi2.ads.adSlot0]);
            googletag.olxi2 && googletag.olxi2.ad && googletag.pubads().refresh([googletag.olxi2.ad.adSlot0]);
            googletag.olxi2 && googletag.olxi2.ad_contact && googletag.pubads().refresh([googletag.olxi2.ad_contact.adSlot0]);
            googletag.olxi2 && googletag.olxi2.myaccount && googletag.pubads().refresh([googletag.olxi2.myaccount.adSlot0]);
			googletag.olxi2 && googletag.olxi2.index && googletag.pubads().refresh([googletag.olxi2.index.adSlot0]);
            googletag.olxi2 && googletag.olxi2.category && googletag.pubads().refresh([googletag.olxi2.category.adSlot0]);
            googletag.olxi2 && googletag.olxi2.ads_native && googletag.pubads().refresh([googletag.olxi2.ads_native.adSlot0]);
            googletag.olxi2 && googletag.olxi2.listing && googletag.pubads().refresh([googletag.olxi2.listing.adSlot0]);
            googletag.olxi2 && googletag.olxi2.sticky && googletag.pubads().refresh([googletag.olxi2.sticky.adSlot0]);
            googletag.olxi2 && googletag.olxi2.topadBanner && googletag.pubads().refresh([googletag.olxi2.topadBanner.adSlot0]);

        });
    </script>
</div>
	</div>
</div>
	</div>
</section>
</div>

<script type="text/javascript" src="{{url_for('static', filename='js/js1.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/js2.js')}}"></script>
<script type="text/javascript">
			$(function(){
				if(typeof GoogleObj != 'undefined') {
					setTimeout(function() {
						var conversions = GoogleObj.getConversions();
						for(k in conversions) {
							var data = conversions[k];
							window['google_conversion_id'] = data.id;
							window['google_conversion_language'] = data.language;
							window['google_conversion_format'] = data.format;
							window['google_conversion_color'] = data.color;
							window['google_conversion_label'] = data.label;
							window['google_conversion_value'] = data.value;
							oldWrite = document.write;
							document.write = (function(params)
							{
								$(document.body).append(params);
							});
					$.getScript(document.location.protocol + "//www.googleadservices.com/pagead/conversion.js", function(){
						document.write = oldWrite;
					});
						}
					}, 10);
				};

				if(typeof GoogleObj != 'undefined') {
					setTimeout(function() {
						var adsDetails = GoogleObj.getAdsDetails();
						if(typeof adsDetails[0] != 'undefined') {
							GoogleObj.loadGoogleAds(adsDetails[0]);
						}
					}, 100);
				}
			});
</script>

  {% else %}
<p style="color: red"> You still didn't set your Email, do it


{% include 'user/session.html' %}
{% endif %}
</p></div></div>
{% endblock %}
