<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Takeaway</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script type="text/javascript" src=""></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style1.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style3.css')}}">

    <script type="text/javascript">
window.suggestmeyes_loaded = true;
var action='index';
var method='index';
var user_logged=0;
var www_base='https://www.olx.in';
var www_base_no_namespace='https://www.olx.in';
var www_base_ajax='https://www.olx.in/ajax';
var static_files_www_base='https://s1.olx.in/static/olxin/';
var external_static_files_www_base='https://s1.olx.in/static/olxin/naspersclassifieds-regional/olxsa-atlas-web-olxin/static/';
var external_static_files_www_base_main='https://s1.olx.in/static/olxin/naspersclassifieds-regional/olxsa-atlas-web/static/';
var session_domain='olx.in';
var site_domain='www.olx.in';
var decimal_separator='.';
var thousands_separator=',';
var sitecode='olxin';
var defaultCurrency='INR';
var config_currency='₹';
var useExternalScripts=1;
var lang='en';
var hasRwd=0;
var module_store_image_sizes_db=1;
var module_extra_description=1;
var module_deprecate_android_24=1;
var module_ninja=1;
var module_clm=1;
var module_nanigans_pixel=1;
var module_gtm_pixels=1;
var module_catch_point=1;
var module_mobile_app=1;
var module_cities_old=1;
var module_short_categories=1;
var module_zendesk=1;
var module_unconfirmed_confirmed=1;
var module_facebook_login=1;
var module_country_locator=1;
var module_fraud_contact_data=1;
var module_forceimages=1;
var module_adx_banners=1;
var module_moderated_not_edited=1;
var module_districts_large=1;
var module_cities_old_adding=1;
var module_search_rank_limited=1;
var module_allow_duplicate=1;
var module_check_abusive_words=1;
var module_adx_home_top_banner=1;
var module_dfp_banners=1;
var module_online_chat_status=1;
var module_anonymous_chat_app=1;
var module_chat_i2=1;
var module_chat_desktop=1;
var module_island_trending=1;
var module_island_interesting=1;
var module_feedsqueue_accept_automatically=1;
var module_multi_locality=1;
var module_retain_created_at=1;
var module_radial_search=1;
var module_content_widgets=1;
var module_rest_api=1;
var module_phone_posting=1;
var module_password_hashing=1;
var module_realtime_gcm_push=1;
var module_sync_facebook=1;
var module_share_ad_with_contacts=1;
var module_upsight=1;
var module_phone_visibility_setting=1;
var module_user_pic_visibility_setting=1;
var module_CSRF=1;
var module_chat_ads=1;
var module_force_upgrade=1;
var module_i2_payment=1;
var module_paidads=1;
var module_bonus_credits=1;
var module_payu_topup_module=1;
var module_adpage_promote=1;
var module_unfinished_payments=1;
var module_invoiceform=1;
var module_invoice_exporter=1;
var module_einvoice_ap_poland=1;
var module_ap_invoice_data=1;
var module_einvoice_autogeneration=1;
var module_testimonials=1;
var module_i2_interstitial=1;
var module_profile=1;
var module_i2_experiment_listing_badge=1;
var module_xss_filter=1;
var module_packages=1;
var module_parameterized_title=1;
var module_invite_friends=1;
var module_recaptcha=1;
var module_community=1;
var module_community_prelaunch=1;
var module_pushup=1;
var module_pushup_automatic=1;
var module_crm_user=1;
var module_paid_limits=1;
var module_flush_only_msite_ads=1;
var module_otp_login=1;
var module_phone_email_auth=1;
var module_public_profile=1;
var module_ad_banner_widget=1;
var module_ad_rule_widgets=1;
var module_abtest=1;
var module_googleplus=1;
var module_package_count_adjustment=1;
var module_telesales_packages=1;
var module_download_app_banner=1;
var module_hide_phone=1;
var module_sms_downloadpage=1;
var module_mandatory_registration=1;
var module_credit_list_upload=1;
var module_new_controllers=1;
var module_site_blaze=1;
var module_sms_log_in_kafka=1;
var module_freelimit_phone_check=1;
var module_kafka_apple_push=1;
var module_apolloIntegration=1;
var module_solr_cloud=1;
var module_solr_cloud_autocommit=1;
var module_hermes=1;
var module_hermes_comments_synchronization=1;
var module_ssl_only=1;
var module_S3_images=1;
var fb_connect_url='https://connect.facebook.net/en_IN/all.js#xfbml=1&amp;appId=320949351409311';
var fb_app_id='320949351409311';
var fraudsubject={"id":"25","subject_en":"Support Team :: Report Fraud","subject_hi":"\u0927\u094b\u0916\u093e\u0927\u0921\u093c\u0940 \u0930\u093f\u092a\u094b\u0930\u094d\u091f  \u0915\u0930\u0947\u0902","zendesk_tag":"in_report_fraud"};
var otherssubject={"id":"13","subject_en":"Support Team :: Others","subject_hi":"\u0938\u0939\u093e\u092f\u0924\u093e \u091f\u0940\u092e","zendesk_tag":"in_support_team"};
function __(txt) {
	if (typeof translations == 'object') {
		if (translations[txt] == undefined) {
			return txt;
		} else {
			return translations[txt];
		}
	}
	return txt;
}
</script>
     {% block head %}{% endblock %}
  </head>
  <body>

  <!---------------------------- NAVIGATION BAR BEGINS ---------------------------->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TAKEAWAY</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/user/my_ads">My ads</a></li>
                <li><a href="/user/search_product">Search Product</a></li>
                <li><a href="/user/myaccount">My Account</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if session['name'] %}
                <li><a href="{{ url_for('clearsession') }}"><span class="glyphicon glyphicon-log-out">&nbsp;</span>Logout</a></li>
                {% else %}        <li><a href="/user/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>{% endif %}
            </ul>
        </div>
    </div>
</nav>

<!----------------------------- NAVIGATION BAR ENDS ----------------------------->


                   {% block content %}{% endblock %}


<!----------------------------- FOOTER ------------------------------------------>
    <div id="footer">
      {% block footer %}
        <center>

      &copy; Copyright 2017 by <a href="#">Takeaway, Inc.</a>.
        </center>
      {% endblock %}
    </div>
  </body>
</html>
